.search-link {
     list-style-type: none;
     display: flex;
     flex-direction: row;
     justify-content: flex-end; 
}

.search-link-outer {
      display: inline-block;
      line-height: 24px;
      vertical-align: middle;
      margin: 12px;
}

a.search-link-inner {
      color: black;
      text-decoration: none;
}

a.search-link-inner:hover {
      text-decoration: underline;
}

.SDkEP {
      flex: 1;
      display: flex;
      padding: 5px 8px 0 14px;
      justify-content: center;
    }

.Lk0 {
      font-family: Arial, Helvetica, sans-serif;
      font-size: smaller;
}


.kOilf {
      display: flex;
      justify-content: center;
      margin-top: -10px;
      margin-bottom: 20px;
}

.kOilfIk {
      display: flex;
      justify-content: center;
      margin-top: 15px;
      margin-bottom: 20px;
}



.search-form-button {
      background-color: rgba(239, 239, 239, 0.705);
      border: 1px solid rgb(245, 245, 245);
      border-radius: 4px;
      color: black;
      font-family: arial, sans-serif;
      font-size: 14px;
      margin: 11px 4px;
      padding: 0 16px;
      line-height: 27px;
      height: 36px;
      min-width: 54px;
      text-align: center;
      cursor: pointer;
      
}



.search-form-div {
      display: flex;
      height: 44px;
      background: rgba(255, 255, 255, 0.836);
      border: 1px solid rgb(195, 195, 195);
      box-shadow: none;
      border-radius: 24px;
      margin: 0 auto;
      width: 620px;
      max-width: 620px;
      

}

.search-form {
      display: flex;
      height: 41px;
      background: rgba(255, 255, 255, 0.836);
      border: none;
      border-radius: 25px;
      box-shadow: none;
      margin: 0 auto;
      width: 560px;
      max-width: 584px;
      
      
}


.search-form-div:hover {
      box-shadow: -1px 2px 14px rgba(0, 0, 0, 0.147);
}

.search-form:enabled {
      outline: none;
}

.search-form-button:hover {
      border: 2px solid rgb(235, 233, 233);
}

.jkasKO {
    font-weight: lighter;
    color: #d93025;
    font-size:20px;
    margin: 25px 35px;  
}

.inpjad {
     border-bottom: 1px solid #ebebeb;
}

.hjkrt {
      font-weight: lighter;
      font-size: 16px;
      color: #333333; 
      margin-left: 35px;
      margin-top: 50px;
}

.sdfsg {
     display: flex;
     flex-direction: row;
     align-items: center; 
}

.hlowlrd {
      font-weight: lighter;
      font-size: 14px;
      color: #333333; 
      width: 180px;
      margin-left:35px;
}

.yehlowlrd {
      width: 385px;
      height: 25px;
      border: 1px solid #d9d9d9;
      font-size: 13px;
      padding: 1px 8px;
}

.jklwer-inner {
      border-radius: 2px;
      cursor: default;
      font-size: 11px;
      font-weight: bold;
      text-align: center;
      white-space: nowrap;
      margin-right: 16px;
      height: 30px;
      line-height: 27px;
      min-width: 54px;
      outline: 0;
      box-shadow: none;
      background-color: #4d90fe;
      border: 1px solid #3079ed;
      color: #ffffff;
      padding: 0px 10px;
}

.jklwer {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      width: 634px;
}

.jklwer-inner:hover {
      box-shadow: -1px 1px 5px blue;
}


